body{
    margin: 0;
}

/* section1  */
.upperLeft{
    position: absolute;
    width: 12.5vw;
    top: 145px;
}

.mainBig{
    position: absolute;
    width: 43.5vw;
    top: 0;
    right: 0;
}

.logo{
    position: absolute;
    top: 21px;
    left: 20.3vw;
}

.navBar{
    font-family: 'Roboto', sans-serif;
    height: 70px;
    margin-left: 35.6vw;
    margin-top: 3.8vw;
    word-spacing: 2vw;
   
}

a{
    text-decoration: none;
    color: #263a41;
    font-size: 14px;
}

.mainSection1{
    width: 28.1vw;
    margin-left: 20.3vw;
    margin-top: 150px;
}

.title{
    font-family: 'Rufina', serif;
    color: #ff817e;
    font-size: 15px;
}

.keynote{
    font-family: 'Rufina', serif;
    color: #1e2528;
    font-size: 60px;
    margin-top: 30px;
    line-height: 1.2;
}

.keyTxt{
    font-size: 14px;
    color: #ff817e;
    line-height: 1.8;
    margin: 20px 0 40px 0;
    
}

/* button */
.myButton {
	background:linear-gradient(to bottom, #ff807e 5%, #ff807e 100%);
	background-color:#ff807e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	padding: 13px 31px;
	text-decoration:none;
}

.myButton:hover {
	background:linear-gradient(to bottom, #ff807e 5%, #ff807e 100%);
	background-color:#ff807e;
}

.myButton:active {
	position:relative;
	top:1px;
}

.revStor {
    display: flex;
}

.fas fa-play-circle{

}

.watch{

}
