body{
    margin: 0;
}

.logo{
    margin: 17px 0 0 0;
    width: 120px;
}

nav ul li{
    display: inline-block;
    padding: 80px 0 0 0;
   
}

nav ul li a{
    font-size: 14px;
    font-weight: 500;
    color: #263a41;
    font-family: 'Roboto', sans-serif;
    padding: 0px 19px;
}

.bigDiv{
    width: 43.4%;
    position: absolute;
    right: 0;
    top: 0;
}

.big{
    display: block;
    width: 100%;
    height: auto;
}

nav{
    margin: -11px 0 0 -67px;
}

.leftFlower{
    width: 12.4%;
    position: absolute;
    top: 145px;
}

.lFlower{
    display: block;
    width: 100%;
    height: auto;
}

.spa{
    font-family: 'Rufina', serif;
    color: #ff817e;
    font-size: 15px;
    margin-bottom: 23px;
    letter-spacing: 1.6px;
}




.Main h2{
    color: #1e2528;
    font-size: 60px;
    font-family: 'Rufina', serif;
    margin-bottom: 22px;
    line-height: 75px;
}

.Main h3{
    color: #555555;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 27px;
    letter-spacing: 0.25px;
    line-height: 1.9;
    padding-right: 130px;
}

.Main{
    margin: 200px 0 0 0;

}

.reserve{
    background-color: #ff817e;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 0.8;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 15px;
    text-align: right;
    margin-right: 45px;
    margin-top: 20px;
}

.ti-control-play{
    border-radius: 50%;
    background-color: #fcf5ee;
    color: #ff817e;
    display: inline-block;
    line-height: 44px;
    text-align: center;
    margin-right: 10px;
    height: 44px;
    width: 44px;
}

.ti-control-play{
    margin: 10px;
    padding: 14px;
}

.video-btn{
    color: #555;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.ti-arrow-right{
    margin: 10px;
}

.Aflower{
    margin: 10.5% 0 0 15%;
}

.flowerBottomRight{
    position: absolute;
    right: 135px;
    top: 97%;
}

.text{
    text-align: center;
}

.text img{
    margin-bottom: 20px;
    margin-bottom: 40px;
}

.text h5{
    font-family: 'Roboto', sans-serif;
    color: #888;
    font-size: 20px;
    font-weight: 400;
    line-height: .8;
    margin-bottom: 27px;
    letter-spacing: 2.1px;
}

.text h3{
    font-family: 'Rufina', serif;
    font-weight: 700;
    color: #1e2528;
    font-size: 42px;
    margin-bottom: 32px;
    letter-spacing: 0.4px;
}

.text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    color: #888;
    margin-bottom: 70px;
    padding: 0 11% 0;
}

.readMore{
    background-color: #ff817e;
    color: #fff;
    display: inline-block;
    min-width: 170px;
    padding: 20px 15px;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 500;
    line-height: 0.8;
}

.slider{
    margin-top: 142px;
    display: flex;
    width: 100%;
}

.fourth{
    padding: 2.5px;
    width: 457px;
}
