body{
    margin: 0;
}

.mainBig{
    position: absolute;
    top: 0;
    right: 0;
    width: 43.5vw;
}

.upperLeft{
    position: absolute;
    top: 145px;
    width: 12.5vw;
}

.topbar{
    display: flex;
    margin-top: 20px;
    position: absolute;
    right: 40.7vw;
}


.logo{
    margin-right: 12.7vh;
}

.mainSection1{
    margin-left: 18.75vw;
    width: 27.8vw;
    margin-top: 268px;
}

a{
    margin-right: 42px;
    margin-top: 53px;
    text-decoration:none; 
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #263a41;
    flex-shrink: 4;
    font-weight: normal;
}

.title{
    top: 500px;
    right: 39vw;
    color: #ff817e;
    font-size: 15px;
    font-family: 'Rufina', sans-serif;
    font-weight: normal;

}

.keynote{
    color: #1e2528;
    font-size: 60px;
    font-family: 'Rufina', sans-serif;
    padding-top: 16px;
    font-weight: bolder;
}
.keyTxt{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #555555;
    padding-top: 32px;
    width: 25.8vw;
    line-height: 1.8;
    font-weight: normal;
}

/* button  RESERVE NOW*/
.myButton {
	background:linear-gradient(to bottom, #ff807e 5%, #ff807e 100%);
	background-color:#ff807e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	padding: 13px 31px;
    text-decoration:none;
    margin-left: -40px;
}

.myButton:hover {
	background:linear-gradient(to bottom, #ff807e 5%, #ff807e 100%);
	background-color:#ff807e;
}

.myButton:active {
	position:relative;
	top:1px;
}

.revStor {
    display: flex;
    height: 96px;
    margin-top: -15px;
    width: 100vh;
}

.play{
    margin-top: 16px;
    color:  #ff807e ;
}

.watch{
    margin-left: 45px;
    margin-top: -23px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: 555555;
}

.kwiatLewy{
    width: 100%;
    height: auto;
}

.fRleft{
    margin-top: 239px;
    margin-left: 15.3vw;
}

.fBkwiat{
    text-align: center;
}

.bottomTxt{
    text-align: center;
}

.about{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #888888;
}

.come{
    font-family: 'Rufina', sans-serif;
    font-size: 42px;
    color: #1e2528;
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}

.fBright{
    position: absolute;
    right: 7vw;
    top: 1176px;
}

.end{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #888888;
    max-width: 46%;
    text-align: center;
    margin: auto;
    font-weight: lighter;
    line-height: 1.7;
    margin-top: 24px;
}

 /* button READ MORE */

.myButton2 {
	background: linear-gradient(to bottom, #ff807e 5%, #ff807e 100%);
    background-color: #ff807e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 21px 50px;
    text-decoration: none;
    margin: auto;
    border-radius: 45px;
    font-weight: lighter;
    margin-top: 51px;
}

.myButton2:hover {
	background:linear-gradient(to bottom, #ff807e 5%, #ff807e 100%);
	background-color:#ff807e;
}

.myButton2:active {
	position:relative;
	top:1px;
}
/* .btmBtn{
    display: inline-block;
    padding: 22px;
    background-color:#ff807e;
    border-radius: 45px;
    width: 150px;
    margin-top: 79px;
 








